# dependencies
node_modules/

# next.js
.next/
out/
*.tsbuildinfo

# production
build/
dist/

# panda css (generated)
styled-system/
styled-system-studio/

# misc
.DS_Store
*.pem
*.log
coverage/

# environment
.env
.env.local
.env.*.local

# deploy
.vercel/

# IDE / editor
.idea/
.vscode/

# OS
Thumbs.db
